@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: ease-in-out;
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(
    500px 200px at 50% 0,
    #131f33 20%,
    rgba(19, 30, 49, 0) 100%
  );
  background: rgb(16, 21, 29);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.faq-container {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}
.faq-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    animation: fadeIn 2s ease-in-out;
}
.faq-item {
    margin-bottom: 30px;
}
.faq-question {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}
.faq-answer {
    font-size: 18px;
    display: none;
    line-height: 1.5;
    animation: fadeIn 2s ease-in-out;
}
